body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #11224E;
    color: #333;
}

/* Header */
header {
    background-color: #fff;
    color: #333;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    float: left;
    padding-left: 20px;
}

header .logo h1 {
    display: flex;
    padding: top;
    align-items: top;
    background-color: #555;
    border-radius: 8px;
    font-size: 24px;
    font-style: normal;
    color: #fff;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background-image: url('https://images.unsplash.com/photo-1616394470636-033bb9c44dd8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* Ganti dengan gambar yang sesuai */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Services Section */
.services {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.services h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #ffffff;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 16px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    header .logo {
        float: none;
        padding-left: 0;
    }

    header nav {
        float: none;
        margin-top: 10px;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}